<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody data-project-id="<%=project&.id %>" id="list-member" >
    <% list_members.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= user.name %></td>
        <td>
          <%= select_tag "user_roles[#{user.id}]", options_for_select([['dev', 'dev'], ['pl', 'pl'], ['pm', 'pm'], ['po', 'po'], ['sm', 'sm']], selected: user_role_for(user.id, project&.id)), class: "form-select" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
