.user-list-container {
  background-color: #e0f1ff;
  width: 1200px;
  padding: 20px 40px;
  border: 1px solid #007bff;
  border-radius: 5px;
}
.user-new-container {
  background-color: #e0f1ff;
  padding: 20px 40px;
  border: 1px solid #007bff;
  border-radius: 5px;
}
.alert-center {
  margin-top: 46px;
  left: 50%;
  transform: translateX(-50%);
}
.disabled-icon {
  pointer-events: none;
  opacity: 0.5;
}
.error-devise {
  color: #db2000;
  font-size: 95%;
  margin-top: 0.25rem;
  margin-bottom: -15px;
}
.float-user {
  float: right;
}
